@page
@model Security.Pages.MainModel

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>####<a href="/laba1">ЛАБА 1 (Омофоническая замена)</a>####</p>
    <p>####<a href="/laba2">ЛАБА 2 (RSA)</a>####</p>
    <p>####<a href="/laba3">ЛАБА 3 (Диффи-Хеллман)</a>####</p>
    <p>####<a href="/laba4">ЛАБА 4 (DES)</a>####</p>
    @*    <p>####<a href="/laba5">ЛАБА 5</a>####</p>
        <p>####<a href="/laba6">ЛАБА 6</a>####</p>
        <p>####<a href="/laba7">ЛАБА 7</a>####</p>
        <p>####<a href="/laba8">ЛАБА 8</a>####</p>*@
</div>
